.custom-navbar{
    background-color: white;
    border-bottom: 1px solid #D2D4D6;

    .logo-container {
        gap: 40px;

        .logo{
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }

        .search-item {
            border: 1px solid #D2D4D6;
            padding: 8px 16px;
            border-radius: 16px;
            flex-grow: 1;
        }
    }

    .pages-link{
        padding: 8px 16px;
        margin: -8px 0;

        &.green{
            border-bottom: 3px solid #15AD4D;
        }
    }

    .profile-container{
        gap: 15px;
    }
}
