.name-wrapper {
    margin-left: 4px;
    padding: 6px 0px;

    .time-wrapper {
        .time {
            font-size: 14px;
        }
    }
}

.commentviewcount{
    font-size: 14px;
    color: #6E6E73;
    ;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 20px 0;
    width: 100%;
  }
  

.likecount {
    display: flex;
    align-items: unset;
  }
  
  .icons {
    position: relative;
    width: max-content;
  }
  
  .icons img {
    position: absolute;
    top: 0;
  }
  
  .icons img:nth-child(1) {
    left: 0;
  }
  
  .icons img:nth-child(2) {
    left: 15px;
  }
  
  .icons img:nth-child(3) {
    left: 30px;
  }
  
  .count {
    margin-left: 60px;
    font-size: 16px; 
  }

.profile-container{
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.post-image{
    margin-bottom: 12px;

    img{
        width: 100%;
    }
}

.audio-tag{
    audio{
        width: 100%;
    }
}


.poll {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.poll-option {
    border: 2px solid #D2D4D6;
    border-radius: 16px;
    padding: 14px 16px;
    margin-bottom: 1rem;
    position: relative;
}

.option-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .option-text{
        font-weight: 500;
    }
}

.vote-controls {
    display: flex;
    align-items: center;
}

.vote-controls button {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-controls span {
    margin: 0 0.5rem;
    font-weight: bold;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    background-color: #3CB371 !important;
    height: 100%  !important;
    opacity: 0.1;
}

.poll-question{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}
