.side-menu {
    width: 200px;
    position: fixed;
    /* top: 0; */
    left: 0;
    height: 100%;
    background-color: #f8f9fa; 
    border-right: 1px solid #ddd;
    padding: 24px 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    margin: 15px 0;
  }
  
  .menu-item a {
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 14px;

      span{
          font-weight: 500;
      }
  }
  
  .menu-item .menu-icon {
    margin-right: 10px;
  }
  
